@CHARSET "ISO-8859-1";

.marginR25{
	margin-right:25px;
}
.link:link,.link:visited {
	color: #757575;
	text-decoration: none;
}

.link:hover,.link:active {
	color: #757575;
	font-weight: bold;
}

.semitransparent {
	background: rgba(255, 255, 255, 0.5);
}

.white {
	background-color: white;
	border-radius: 25px;
}
.white-no-border {
	background-color: white;
	margin-top:2%;
	padding:20px;
}
.whitetop {
	padding-top: 20px;
	background-color: white;
}

.textstyle {
	font-size: 85%;
	color: #757575;
}

.headstyle {
	font-weight: bold;
}

.headstyle-red {
	font-weight: bold;
	color: #DD1F26;
}

html {
	background: url(/payroll-agenda/statics/images/tablet/Fondociudad.png)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background-color: transparent;
	overflow-x: hidden;
}
.btn{
	color:white;
}
.btn-tab{
	color:#56D27E;
	background-color: white;
	border-color: transparent;
	border-bottom-color: #56D27E; 
}
.btn-tab:hover,.btn-tab:active,.btn-tab:focus{
	color:green;
	background-color: #efefef;
}
.btn-default{
	color:black;
}
.btn-primary {
	background-color: #DD1F26;
	border-color: #DD1F26;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
	color: black !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #DD1F26 !important;
	border-color: #DD1F26;
}

.bgral {
	background-color: #DD1F26;
	border-color: #DD1F26;
}

.bgral:hover,.bgral:active,.bgral:focus {
	color: black !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #DD1F26;
	border-color: #DD1F26;
}

.bvisita {
	background-color: #47AAFD;
	border-color: #47AAFD;
}

.bvisita:hover,.bvisita:active,.bvisita:focus {
	color: black !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #47AAFD;
	border-color: #47AAFD;
}

.bpendiente {
	background-color: #DD1F26;
	border-color: #DD1F26;
}

.bpendiente:hover,.bpendiente:active,.bpendiente:focus {
	color: black !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #DD1F26;
	border-color: #DD1F26;
}

.bcompleto {
	background-color: #56D27E;
	border-color: #56D27E;
}

.bcompleto:hover,.bcompleto:active,.bcompleto:focus {
	color: black !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #56D27E;
	border-color: #56D27E;
}

.binactivo {
	background-color: #F6F6F6;
	border-color: #F6F6F6;
}

.binactivo:hover,.binactivo:active,.binactivo:focus {
	color: black !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #F6F6F6;
	border-color: #F6F6F6;
}

.form-signin
{
	max-width :600px;
	padding :20px;
	margin:0auto;
	border-radius:25px;
	font-size:125%;
}
.form-signin-noBorder
{
	max-width :600px;
	padding :0px;
	margin:0 auto;
	font-size:125%;
}
.form-padding
{
	padding: 0px 50px 0px 50px;
	margin: 0 auto;
}

.form-padding2
{
	padding: 0px 70px 0px 70px;
	margin: 0 auto;
	}
.form-padding3
{
	padding: 0px 100px 0px 100px;
	margin: 0 auto;
}
.form-signin .form-signin-heading , .form-signin .checkbox
{
	margin-bottom: 10px;
}
.form-signin .checkbox
{
	font-weight:normal;
}
.form-signin .form-control
{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control :focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signininput [type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.input-xs {
	height: 22px !important;
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.input-xs2 {
	height: 22px !important;
	padding: 2px 15px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.input-group-xs>.form-control,.input-group-xs>.input-group-addon,.input-group-xs>.input-group-btn>.btn
	{
	height: 22px;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}

.nopadding {
	padding: 1px !important;
	margin: 0 !important;
}

.nopaddingtwo {
	padding: 0px !important;
	margin: 0 !important;
	padding-left: 15px !important;
}

.nopadding5l {
	padding: 0px !important;
	margin: 0 !important;
	padding-left: 5px !important;
}

.paddingform {
	padding: 1px 15px 10px 15px !important;
	margin: 0 !important;
}

.paddingSection {
	padding: 8px !important;
	margin: 0 !important;
}

p {
	margin: 0
}

.labelmd {
	font-size: 15px;
}

.table-fixed {
	height: 70px;
}

.table-fixed2 {
	height: 120px;
}

.table-striped>thead>tr>th,.table-striped>tbody>tr>th,.table-striped>tfoot>tr>th,.table-striped>thead>tr>td,.table-striped>tbody>tr>td,.table-striped>tfoot>tr>td
	{
	padding: 1px;
}

.colorback {
	background-color: #e2e2e2;
}

.bordered {
	border: 1px solid #E53935;
	padding: 0px;
	border-radius: 0px;
	padding: 0px;
	vertical-align: top;
}

[scroll-glue] {
	height: 120px;
	overflow-y: scroll;
}

.disabledTabEvent {
	pointer-events: none;
}

/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs
.panel-default
 
.nav-tabs>li>a,.with-nav-tabs
.panel-default
 
.nav-tabs>li>a
:hover,.with-nav-tabs
.panel-default
 
.nav-tabs>li>a
:focus {
	color: #d9534f;
	//#
	ebccd1;
}

.with-nav-tabs
.panel-default
 
.nav-tabs>.open>a,.with-nav-tabs
.panel-default
 
.nav-tabs>.open>a
:hover,.with-nav-tabs
.panel-default
 
.nav-tabs>.open>a
:focus,.with-nav-tabs
.panel-default
 
.nav-tabs>li>a
:hover,.with-nav-tabs
.panel-default
 
.nav-tabs>li>a
:focus {
	color: #fff;
	background-color: #d9534f; //# ebccd1;
	border-color: #eee #eee #ddd;
}

.with-nav-tabs
.panel-default
 
.nav-tabs>li
.active>a,.with-nav-tabs
.panel-default
 
.nav-tabs>li
.active>a
:hover,.with-nav-tabs
.panel-default
 
.nav-tabs>li
.active>a
:focus {
	color: #fff; // red;
	background-color: red; //# fff;
	border-color: #eee #eee #ddd;
	border-bottom-color: transparent;
}

.with-nav-tabs
.panel-default
 
.nav-tabs>li
.dropdown
 
.dropdown-menu {
	background-color: #f2dede; /* bg color */
	border-color: #eee #eee #ddd;
	//#
	ebccd1; /* border color */
}

.with-nav-tabs
.panel-default
.nav-tabs>li
.dropdown
 
.dropdown-menu>li>a {
	color: red; /* normal text color */
}

.with-nav-tabs
.panel-default
 
.nav-tabs>li
.dropdown
 
.dropdown-menu>li>a
:hover,.with-nav-tabs
.panel-default
 
.nav-tabs>li
.dropdown
 
.dropdown-menu>li>a
:focus {
	background-color: #d9534f;
	//#
	ebccd1; /* hover bg color */
}

.with-nav-tabs
.panel-default
 
.nav-tabs>li
.dropdown
 
.dropdown-menu>.active>a,.with-nav-tabs
.panel-default
 
.nav-tabs>li
.dropdown
 
.dropdown-menu>.active>a
:hover,.with-nav-tabs
.panel-default
 
.nav-tabs>li
.dropdown
 
.dropdown-menu>.active>a
:focus {
	color: #fff; /* active text color */
	background-color: red; /* active bg color */
}

.input-group
 
.form-control {
	margin: 0px !important;
}

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon
 
.img-inside {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}
.inner-addon .img-inside-center {
	position: absolute;
	pointer-events: none;
}
/* align icon */
.left-addon
 
.img-inside {
	left: 0px;
}

.right-addon
 
.img-inside {
	right: 0px;
}

/* add padding  */
.left-addon
 
input {
	padding-left: 40px !important;
}

.right-addon
 
input {
	padding-right: 40px;
}

.left-margin {
	padding-left: 80px !important;
}

input
:focus+label {
	color: #DD1F26;
}

.form-focus
:focus {
	border-color: #DD1F26;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#DD1F26;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #DD1F26
}

.progress {
	height: 20px;
	border-radius: 7px;
}
.modal-custom{
	width: 95%;
  /* place center */
  margin-left:auto;
  margin-right:auto; 
  max-width: 600px;
}
.modal {
	text-align: center;
}
.modal-body{
	font-size:125%;
}

@media screen and (min-width: 200px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: "";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.paddingpo {
	padding: 10px;
}

body {
	font-size: 14px;
}

/* responsive text queries */
@media screen and (max-width: 992px) {
	p,.btn,input,div,span,h4 {
		font-size: 98%;
	}
	.menufont {
		font-size: 82%;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
	}
}

@media screen and (max-width: 768px) {
	p,.btn,input,div,span,h4 {
		font-size: 96%;
	}
	.menufont {
		font-size: 78%;
	}
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
	}
	.hidetext {
		font-size: 0px;
	}
}

@media screen and (max-width: 400px) {
	p,.btn,input,div,span,h4 {
		font-size: 92%;
	}
	.menufont {
		font-size: 74%;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 14px;
	}
	.hidetext {
		font-size: 0px;
	}
}

.form-signin {
	max-width: 600px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 25px;
}

.form-padding {
	padding: 0px 50px 0px 50px;
	margin: 0 auto;
}

.form-padding2 {
	padding: 0px 70px 0px 70px;
	margin: 0 auto;
}

.form-padding3 {
	padding: 0px 100px 0px 100px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.input-xs {
	height: 22px !important;
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.input-xs2 {
	height: 22px !important;
	padding: 2px 15px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.input-group-xs>.form-control,.input-group-xs>.input-group-addon,.input-group-xs>.input-group-btn>.btn
	{
	height: 22px;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}

.nopadding {
	padding: 1px !important;
	margin: 0 !important;
}

.nopaddingtwo {
	padding: 0px !important;
	margin: 0 !important;
	padding-left: 15px !important;
}

.nopadding5l {
	padding: 0px !important;
	margin: 0 !important;
	padding-left: 5px !important;
}

.paddingform {
	padding: 1px 15px 10px 15px !important;
	margin: 0 !important;
}

.paddingSection {
	padding: 8px !important;
	margin: 0 !important;
}

p {
	margin: 0
}

.labelmd {
	font-size: 15px;
}

.table-fixed {
	height: 70px;
}

.table-fixed2 {
	height: 120px;
}

.table-striped>thead>tr>th,.table-striped>tbody>tr>th,.table-striped>tfoot>tr>th,.table-striped>thead>tr>td,.table-striped>tbody>tr>td,.table-striped>tfoot>tr>td
	{
	padding: 1px;
}

.colorback {
	background-color: #e2e2e2;
}

.bordered {
	border: 1px solid #E53935;
	padding: 0px;
	border-radius: 0px;
	padding: 0px;
	vertical-align: top;
}

[scroll-glue] {
	height: 120px;
	overflow-y: scroll;
}

.disabledTabEvent {
	pointer-events: none;
}

/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-default .nav-tabs>li>a,.with-nav-tabs.panel-default .nav-tabs>li>a:hover,.with-nav-tabs.panel-default .nav-tabs>li>a:focus
	{
	color: #d9534f;
	
	ebccd1;
}

.with-nav-tabs.panel-default .nav-tabs>.open>a,.with-nav-tabs.panel-default .nav-tabs>.open>a:hover,.with-nav-tabs.panel-default .nav-tabs>.open>a:focus,.with-nav-tabs.panel-default .nav-tabs>li>a:hover,.with-nav-tabs.panel-default .nav-tabs>li>a:focus
	{
	color: #fff;
	background-color: #d9534f; 
	border-color: #eee #eee #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.active>a,.with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,.with-nav-tabs.panel-default .nav-tabs>li.active>a:focus
	{
	color: #fff; 
	background-color: red; 
	border-color: #eee #eee #ddd;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
	background-color: #f2dede; /* bg color */
	border-color: #eee #eee #ddd;
	//#
	ebccd1; /* border color */
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a {
	color: red; /* normal text color */
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:focus
	{
	background-color: #d9534f;
	//#
	ebccd1; /* hover bg color */
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a,.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus
	{
	color: #fff; /* active text color */
	background-color: red; /* active bg color */
}

.input-group .form-control {
	margin: 0px !important;
}

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .img-inside {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .img-inside {
	left: 0px;
}

.right-addon .img-inside {
	right: 0px;
}

/* add padding  */
.left-addon input {
	padding-left: 45px !important;
}

.right-addon input {
	padding-right: 40px;
}

.left-margin {
	padding-left: 80px !important;
}


.form-focus:focus {
	border-color: #DD1F26;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#DD1F26;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #DD1F26
}

.progress {
	height: 20px;
	border-radius: 7px;
}

.modal {
	text-align: center;
}

@media screen and (min-width: 200px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: "";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.paddingpo {
	padding: 10px;
}

body {
	font-size: 16px;
}

/* responsive text queries */
@media screen and (max-width: 992px) {
	p,.btn,input,div,span,h4 {
		font-size: 98%;
	}
	.menufont {
		font-size: 82%;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
	}
}

@media screen and (max-width: 768px) {
	p,.btn,input,div,span,h4 {
		font-size: 96%;
	}
	.menufont {
		font-size: 78%;
	}
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
	}
	.hidetext {
		font-size: 0px;
	}
}

@media screen and (max-width: 400px) {
	p,.btn,input,div,span,h4 {
		font-size: 92%;
	}
	.menufont {
		font-size: 74%;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 14px;
	}
	.hidetext {
		font-size: 0px;
	}
}

.noactive {
	pointer-events: none;
}

.shadow {
	box-shadow: 0 0 10px 1px #adadad;
}

.shadowdown {
	box-shadow: 1px 3px 5px #adadad;
}

.hidetext {
	display: inline;
}



.content-center {
    display: table;
}
.content-center a {
    vertical-align: middle;
    display: table-cell;
}
.content-center img {
    display: block;
    height: auto;
    width: 100%;
}

.ui-dialog button.custom {  font-size:150%}

.cancelSnapshotDigit{
}
.cancelPreviewSnapshot{
	display: none;
}
.previewSnapshot{
}
.saveSnapshot{
	display: none;
}
.alert-hsbc
{
	border:1px solid red;
	background-color:#FBE6E8;
	color: black;
	
}

.pagination-lg > li > a,.pagination-lg> li>span{
	font-size:200%;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color:#DD1F26;
	border-color:#DD1F26;
}
.pagination > li > a, .pagination > li > span,.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	color:#DD1F26;
}
.form-group-padding{
	padding:0 5% 0;
}
 .btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}
 .searchAnimate{
	background: #EEE;
  border: none;
	border-radius: 25px;
}


.searchAnimate:focus{
	outline: 0;
}

ul.list-group li{
    border-left-color:transparent;
    border-right-color:transparent;
    padding:8px !important ;
    
} 
ul.list-group li:hover{
    background: #EEE;
    
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.popover-content a{
	color:black;
	text-decoration: none;
}

.popover-content a:link,.popover-content a:visited {
	color: black;
	
}

.popover-content a:hover,.popover-content a:active {
	color: black;
	font-weight: bold;
	font-size: 120%;
}

.custom-button-width {
	width:100%;
}
.custom-button-width-80 {
	width:80%;
}